* {
    box-sizing: border-box;
}

:root {
    --primary-color: #ffce1a;
    --text-color: #0d0842;
}

html,
body {
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    font-weight: 400;
    font-size: 1.6rem;
    font-family: "Montserrat";
}

/* COMMON */
.main-content {
    width: 1438px;
    max-width: calc(100% - 100px);
    margin-left: auto;
    margin-right: auto;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 36px;
    font-weight: 700;
    font-size: 16px;
    color: #ffffff;
    background: var(--primary-color);
    border-color: transparent;
    border-radius: 8px;
}

.btn:hover {
    color: var(--primary-color);
    background-color: #ffffff;
    border: 1px solid;
}

a {
    text-decoration: none;
}

.title {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: var(--text-color);
}

.box .main-content {
    padding: 10px 10px 18px 10px;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-clamp.line-2 {
    --line-clamp: 2;
}

.line-clamp.line-4 {
    --line-clamp: 4;
}

.break-all {
    word-break: break-all;
}

/* HEADER */

.header .nav {
    display: flex;
    align-items: center;
    padding: 35px 0 9px;
}

.header .action {
    margin-left: auto;
    margin-right: 40px;
}

.header .profile {
    margin-right: 30px;
}

.header .btn.cart-btn {
    padding: 7px 40px 7px 15px;
    width: 146px;
    height: 36px;
}

.cart-btn .icon :hover {
    text-shadow: 0 0 0 currentColor;
    color: var(--primary-color);
}

.btn.cart-btn .icon {
    padding-top: 2px;
    margin-right: 20px;
}

/* home */
.home .landing-page {
    margin-top: 70px;
}

.landing-page {
    display: flex;
    justify-content: space-between;
}

.home .landing-left {
    padding-top: 65px;
    width: 550px;
}

.home .title {
    font-weight: 500;
    font-size: 4rem;
    line-height: 49px;
    color: var(--text-color);
}

.home .desc {
    margin: 30px 0 40px;
    line-height: 20px;
    color: var(--text-color);
}

.landing-left .btn.sub-btn {
    width: 171px;
    height: 36px;
}

.home .landing-right {
    display: flex;
    position: relative;
    width: 487px;
}

.landing-right .btt-1 {
    width: 272.16px;
    height: 378px;
    object-fit: cover;
    z-index: 2;
    filter: drop-shadow(0px 57.8118px 23.3471px rgba(128, 0, 38, 0.01))
        drop-shadow(0px 32.2412px 18.9px rgba(128, 0, 38, 0.05))
        drop-shadow(0px 14.4529px 14.4529px rgba(128, 0, 38, 0.09))
        drop-shadow(0px 3.33529px 7.78235px rgba(128, 0, 38, 0.1))
        drop-shadow(0px 0px 0px rgba(128, 0, 38, 0.1));
}

.landing-right .btt-2 {
    position: absolute;
    left: 138.97px;
    top: 8.28px;
    width: 246.19px;
    height: 341.93px;
    z-index: 1;
    filter: drop-shadow(-2.22353px 38.9118px 15.5647px rgba(0, 12, 102, 0.01))
        drop-shadow(-1.11176px 22.2353px 13.3412px rgba(0, 12, 102, 0.05))
        drop-shadow(-1.11176px 10.0059px 10.0059px rgba(0, 12, 102, 0.09))
        drop-shadow(0px 2.22353px 5.55882px rgba(0, 12, 102, 0.1))
        drop-shadow(0px 0px 0px rgba(0, 12, 102, 0.1));
}

.landing-right .btt-3 {
    position: absolute;
    width: 214.16px;
    height: 297.44px;
    top: 24.97px;
    left: 272.8px;
    filter: drop-shadow(0px 44.4706px 17.7882px rgba(12, 0, 102, 0.01))
        drop-shadow(0px 25.5706px 15.5647px rgba(12, 0, 102, 0.05))
        drop-shadow(0px 11.1176px 11.1176px rgba(12, 0, 102, 0.09))
        drop-shadow(0px 3.33529px 6.67059px rgba(12, 0, 102, 0.1))
        drop-shadow(0px 0px 0px rgba(12, 0, 102, 0.1));
}

/* TOP SELLER */ /* RECOMMENDED */
.recommended,
.top-seller {
    margin-top: 90px;
    margin-left: -20px;
}

.top-seller .option {
    margin-top: 20px;
    padding: 7px 60px 7px 10px;
    height: 36px;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: var(--text-color);
    background: rgba(234, 234, 234, 0.9);
    backdrop-filter: blur(75px);
    border-radius: 8px;
    border-color: transparent;
}

.box-list {
    display: flex;
    position: relative;
}

.box-list .list-item {
    display: flex;
    margin-top: 22px;
}

.list-item .item {
    display: flex;
    margin-right: 40px;
    padding: 15px 20px 15px 15px;
    border-radius: 10px;
}

.list-item .item:hover {
    -webkit-box-shadow: -3px 6px 8px 6px rgba(0, 0, 0, 0.22);
    box-shadow: -3px 6px 8px 6px rgba(0, 0, 0, 0.22);
}

.list-item .item:last-child {
    margin-right: 0px;
}

.list-item .thumb {
    width: 180px;
    height: 250px;
    object-fit: cover;
    border-radius: 5px;
}

.list-item .info {
    margin-left: 40px;
    margin-top: 66px;
}

.list-item .title-item {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: var(--text-color);
}

.list-item .desc {
    margin-top: 15px;
    font-family: "Nunito Sans";
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: rgba(13, 8, 66, 0.52);
}

.list-item .price {
    margin-top: 25px;
}

.list-item .current-price {
    margin-right: 27px;
    font-family: "Nunito Sans";
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: var(--text-color);
}

.list-item .sale-price {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #6c6c6c;
}

.list-item .btn-item {
    margin-top: 30px;
}

.list-item .btn.btn-item {
    padding: 7px 0px;
}

.list-item .btn.btn-item .icon {
    padding-top: 2px;
    margin-right: 10px;
}

.box-list .arrow {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: -20px;
    width: 38px;
    height: 38px;
    top: 140px;
    background-color: #ffffff;
    -webkit-box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.22);
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.22);
    border-radius: 50%;
}

/*  NEWS */

.news {
    margin-top: 90px;
}

.info .body {
    display: flex;
    margin-top: 25px;
}

.body .body-child {
    display: flex;
    width: 100%;
    margin-right: 20px;
    padding: 15px 20px 20px 30px;
    background: #ffffff;
    border-radius: 15px;
}

.body .body-child:last-child {
    margin-right: 0px;
}

.body-child .body-info {
    padding: 10px;
}

.body-child .info-title {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: var(--text-color);
}

.body-child .info-desc {
    position: relative;
    padding-top: 50px;
    font-family: "Nunito Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: var(--text-color);
}

.body-child .info-desc::before {
    position: absolute;
    content: "";
    top: 25px;
    width: 50px;
    border: 2px solid #ffce1a;
    border-radius: 20px;
}

.body-child .thumb-info {
    margin-left: 43px;
}

.body-child .thumb-info .thumb {
    width: 123px;
    height: 156px;
    object-fit: cover;
}

/* FOOTER */
.footer {
    margin-top: 120px;
}

.footer .top-footer {
    margin-bottom: 140px;
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-footer .top-right .feature {
    margin-top: 40px;
}

.top-right .list-feature {
    display: flex;
}

.top-right .list-feature li {
    margin-right: 40px;
    font-family: "Nunito Sans";
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: var(--text-color);
}

.top-right .list-feature li:last-child {
    margin-right: 0;
}

.footer .top-footer .top-left {
    max-width: 454px;
}

.top-footer .top-left .desc {
    font-family: "Nunito Sans";
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: var(--text-color);
}

.top-footer .top-left .sub-form {
    display: flex;

    margin-top: 40px;
}

.top-left .sub-form input[type="text"] {
    float: left;
    border: 0.9px solid #ffce1a;
    border-radius: 8px 0px 0px 8px;
    padding: 6px 73px 6px 25px;
    font-family: "Nunito Sans";
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: rgba(108, 108, 108, 0.5);
}

.top-left .sub-form .btn.sub-btn {
    padding: 7px 49px;
    float: left;
    border-radius: 0px 8px 8px 0px;
}

.footer .line {
    display: inline-block;
    width: 100%;
    border: 0.7px solid rgba(13, 8, 66, 0.1);
}

/* footer BG */
.footer .bottom-footer {
    padding: 22px 0;
}

.footer .footer-bg {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bottom-footer .list-feature {
    display: flex;
}

.bottom-footer .list-feature li a{
    margin-right: 46px;
    font-family: "Nunito Sans";
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: var(--text-color);
}

.bottom-footer .list-feature li:last-child {
    margin-right: 0;
}

.bottom-footer .list-logo img{
    margin-right: 50px;
    width: 24px;
    height: 24px;
    border-radius: 6px;
}

.bottom-footer .list-logo img:last-child {
    margin-right: 0px;
}
